<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>User Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-7 col-md-offset-3">
				<form autocomplete="off" action="#" th:action="@{/admin/donation}"
					method="post" class="form-horizontal"
					role="form">
					<h2>Formulario de donación</h2>
					
					<!-- Populate some day :c
					<div class="form-group">
						<div class="col-sm-9">
						<label th:if="${#fields.hasErrors('institution_id')}" th:errors="*{institution_id}"
								class="validation-message"></label>
						<input type="text" th:field="*{institution_id}" placeholder="Institución"
								class="form-control" /> 
						</div>
					</div>
					 -->
					
					<div class="form-group">
						<div class="col-sm-4">
							Institución a donar: 
						</div>							
						<div class="col-sm-5">
							<select name="institution">
							  <option value="1">Bomberos</option>
							  <option value="2">Hospital 1</option>
							  <option value="3">Hospital 2</option>
							  <option value="4">Policía Nacional</option>
							</select>
						</div>
					</div>					

					<div class="form-group">
						<div class="col-sm-9">
							<input type="number" step="0.01" name="donation" min="1"
								placeholder="Cantidad a donar" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group">			
						<div class="col-sm-9">
							<input type="number" name="creditNumber" pattern="[0-9]" maxlength="16"
								placeholder="Número tarjeta de credito" class="form-control" /> 
						</div>
					</div>
					
					<div class="form-group center-block">
						<div class="col-sm-4">
							<input type="number" name="mesCaducidad" pattern="[0-9]" maxlength="2" min="1" max="12"
								placeholder="MM" class="form-control" /> 
						</div>
						<div class="col-sm-5">
							<input type="number" name="anioCaducidad" pattern="[0-9]" maxlength="4" min="2018" max="2038"
								placeholder="YYYY" class="form-control" /> 
						</div>						
					</div>
					
					<div class="form-group">
						<div class="col-sm-9">
							<input type="text" name="nameInCard"
								placeholder="Nombre en tarjeta" class="form-control" /> 
						</div>
					</div>					

					<div class="form-group">
						<div class="col-sm-9">
							<button type="submit" class="btn btn-primary btn-block">Registrar Donación</button>
						</div>
					</div>
					
					<span th:utext="${successMessage}"></span>
					
					
				</form>
				<form th:action="@{/admin/home}" method="get" class="center-block form-signin col-sm-9">
					<button class="btn btn-md btn-warning btn-block" type="Submit">Regresar a inicio</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>