<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>User Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
		<form th:action="@{/admin/donation}" method="get" class="center-block form-signin">
			<button class="btn btn-md btn-warning btn-block" type="Submit">Realizar Donación</button>
		</form>
		<br />
		<form th:action="@{/admin/historial}" method="get" class="center-block form-signin">
			<button class="btn btn-md btn-warning btn-block" type="Submit">Historial Donaciones</button>
		</form>			
		
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
					<img th:src="@{/images/Bienvenido.png}" class="img-responsive center-block" width="400" height="400" alt="Bienvenido" /> 
				</div>
				<p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
			</div>
		</div>

		<form th:action="@{/logout}" method="get">
			<button class="btn btn-md btn-danger btn-block" name="registration"
				type="Submit">Cerrar Sesión</button>
		</form> 
		
	</div>
</body>
</html>